@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.mainscreen {
  width: 100%;
  height: 100vh;
  background: url('../assets/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}

.mainscreen h2 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 54px;
}
.mainscreen h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#moveDown {
  position: absolute;
  top: 90%;
  background-color: #333;
  border: none;
  transition: 0.5s;
}

#menu {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  transition: 0.5s;
}
#moveDown:focus {
  outline: 0 !important;
  border-style: none;
}
#moveDown:hover {
  background-color: antiquewhite;
  color: #000;
  transition: 0.5s;
}
#menu:hover {
  background-color: red;
  color: antiquewhite;
  transition: 0.5s;
}
.color-overlay {
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* section2 styles */

.section2 {
  background-image: url('../assets/pattern1.png');
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.s2text {
  align-self: center;
  text-align: center;
}
.s2text h2 {
  font-family: 'Pacifico';
  color: crimson;
}
.s2text h1 {
  font-family: 'Poppins';
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.image {
  overflow: hidden;
  border-radius: 10px;
}
.image img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.image:hover img {
  transform: scale(1.1);
}

/* date picker */
.datePicker {
  width: 100% !important;
  display: block !important;
}

/* cutomer review */
.customerReview {
  background-image: url('../assets/pattern1.png');
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customerReview h1 {
  text-align: center;
  font-family: 'Pacifico';
  color: crimson;
}

.carousel-item {
  text-align: center;
}

.review img {
  border-radius: 30px;
}

.carousel-indicators li {
  display: inline-block;

  cursor: pointer;

  background-color: #000;
}
.carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-next-icon {
  background-image: none;
}

/* event section */
.eventSection {
  text-align: center;
  background: url('../assets/food4.jpg');
  background-position: center;
  background-size: cover;
  z-index: 100;
}
.eventContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.eventContent h3 {
  text-transform: uppercase;
  font-size: 28px;
  color: #fff;
}
.eventSection h1 {
  font-family: 'Pacifico';
  color: crimson;
}
.eventContent p {
  font-size: 21px;
  color: bisque;
}
.eventSection .carousel-indicators li {
  display: inline-block;
  cursor: pointer;
  background-color: bisque;
}

/* countdown */
.timer {
  font-size: 45px;
  color: #fff;
  font-family: 'Poppins' !important;
}
.completed {
  background-color: crimson;
  color: bisque;
  width: 300px;
  height: 45px;
}

/* menu page */
.menu_bg {
  background: url('../assets/food3.jpg');
  width: 100%;
  height: 65vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu_bg .content h1 {
  z-index: 1;
  color: #fff;
  font-family: 'Poppins';
  letter-spacing: 0.1em;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}

.color-overlay-menu {
  width: 100%;
  height: 65vh;
  background: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.menuPage h3 {
  padding: 10px;
  letter-spacing: 0.3em;
}

.dishes {
  padding-top: 8px;
}
.dishes p {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Poppins';
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.dishes .dots {
  letter-spacing: 0.4em;
  color: rgb(150, 141, 141);
}

/* parallax */
.parallax {
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.parallax h1 {
  color: #fff;
  z-index: 1;
  font-family: 'Poppins';
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

/* main food section */
.foodContainer {
  padding-top: 100px;
}
.foodContainer img {
  border-radius: 8px;
  height: 150px;
}
.foodRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.foodRow .details h3 {
  text-transform: uppercase;
  font-size: 20px;
}

/* footer */
.footer {
  background-color: #000;
  color: #fff;
  padding-top: 10px;
}
.footer p {
  margin-bottom: 10px;
}
.footer p i {
  color: crimson;
}

@media only screen and (max-width: 768px) {
  .mainscreen h2 {
    font-size: 34px;
  }
  .mainscreen h1 {
    font-size: 60px;
  }

  .s2text h1 {
    font-family: 'Poppins';
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

  .image {
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
  }

  .resvImage {
    display: none;
  }

  /* menu page */
  .dishes p {
    font-size: 16px;
    font-weight: 600;
  }

  /* main food section */
  .foodContainer {
    padding-top: 0px;
    text-align: center;
  }
  .foodContainer img {
    border-radius: 5px;
    height: 250px;
  }
  .foodRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .foodRow .details {
    padding-top: 10px;
  }
  .foodRow .details h3 {
    text-transform: uppercase;
    font-size: 20px;
  }
}
